{% extends "layout.html" %}


{% block nav %}
<h5>Hello, {{rows[0].name}}</h5>
{% endblock %}


{% block main %}

<div class="container mb-3 p-2">
    <!-- Wallet Information Card -->
    <div class="card text-dark bg-dark mb-3 shadow-lg p-3 mb-5 bg-body rounded">
        <div class="card-body">
            <h2 class="card-title">TRAN$PAY WALLET</h2>
            <p class="card-text display-4">{{rows[0].amount | naira }}</p>
            <p class="card-text">Account Number: {{rows[0].accountNumber}}</p>
            {% if pin == 0 %}
            <a href="setPin" class="btn btn-link text-dark" data-bs-toggle="modal" data-bs-target="#pinModal">Set up your transaction pin</a>
            <!--Modal codes when you clicked the set up transaction pin-->
            <div class="modal fade" id="pinModal" tabindex="-1" aria-labelledby="pinModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Set up Transaction Pin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/set-pin" method="post">
                            <div class="form-check">
                            <label for="email" class="form-label">Enter 4-digit PIN</label>
                            <input autocomplete="off" placeholder="0000" type="text" id="pin" class="form-control text-center" name="pin" maxlength="4">
                        </div>
                        <div class="form-check">
                            <label for="email" class="form-label">Enter 4-digit PIN</label>
                            <input autocomplete="off" placeholder="0000" type="text" id="confirmPin" class="form-control text-center" name="confirmPin" maxlength="4">
                        </div>
                        <button type="submit" class="btn btn-primary text-white p-2 mt-3 sign_btn">Set up Pin</button>
                    </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            {% else %}
            {% endif %}
            <a href="/transaction-history" class="btn btn-link text-dark">Transaction History ></a>
        </div>
        <div class="d-grid p-3">
            <a href="/fund-account"><button class="btn btn-primary btn-lg">+ Fund Account</button></a>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-evenly p-4 shadow p-3 mb-5 bg-body rounded">
        <a href="/airtime" class="text-decoration-none">
            <div class="p-3 text-center circular-div">
                <i class="bi bi-phone" style="font-size: 2rem;"></i>
                <p>Airtime</p>
            </div>
        </a>
        <a href="/data" class="text-decoration-none">
            <div class="p-3 text-center circular-div">
               <i class="bi bi-wifi" style="font-size: 2rem;"></i>
               <p>Data</p>
            </div>
        </a>
    </div>

    <div class="container mb-3 p-2">
        <!-- Bus Tickets Information Card -->
        <div class="card text-dark bg-light mb-3">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                    <h2 class="card-title text-start">Available Routes</h2>
                    <a href="/rides" class="btn btn-link text-end">All Routes ></a>
                </div>
                
                <!-- Scrollable Row for Bus Cards -->
                <div class="d-flex flex-row overflow-auto">
                    <!-- First Bus -->
                     {% for route in routes %}
                    <div class="card mb-3 me-3" style="min-width: 250px;">
                        <img src="/static/{% if route.name != 'Tricycle' %}hero.png {% else %}tricycle.png {% endif %}" class="card-img-top img-thumbnail" alt="{{route.name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{route.name}} {{route.rideNumber}}</h5>
                            <div class="d-flex flex-row justify-content-evenly">
                                <p class="card-text text-start border-right"><span class="fw-bolder">From:</span> {{route.fromLoc}}</p>
                                <p class="card-text text-end"><span class="fw-bolder">To:</span> {{route.toLoc}}</p>
                            </div>
                            <div class="d-flex flex-row justify-content-evenly flex-wrap mb-3">
                                <p class="card-text">Departure Date: {{route.date}}</p>
                                <p class="card-text">Departure Time: {{route.time}}</p>
                            </div>
                            <div class="d-flex flex-row justify-content-evenly">
                                <p class="card-text text-start"><span class="fw-bolder">Seat Left:</span> {{route.seat}}</p>
                                <p class="card-text text-end"><span class="fw-bolder">Tfare:</span> {{route.fare | naira}}/seat</p>
                            </div>
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#seatQty">Book space</button>
                        </div>
                    </div>
                    <!--Modal for selecting seat qty-->
                    <div class="modal fade" id="seatQty" tabindex="-1" aria-labelledby="seatQty" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Number of Tickets?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                    <div class="form-check">
                                    <input autocomplete="off" placeholder="1" type="number" id="pin" class="form-control text-center" name="seatQty">
                                </div>
                                <button type="submit" class="btn btn-primary text-white p-2 mt-3">Proceed to Pay</button>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}