{% extends "layout.html" %}


{% block main %}

<div class="container-fluid bd-highlight align-items-center mb-3">
    <div class="row flex-column-reverse flex-lg-row justify-content-around align-items-center">
       <div class="col-lg-6 p-5 text-center text-lg-start">
          <p class="fs-1 text-start">TRAN$PAY</p>
          <p class="fs-3 text-start">Your Gateway to Convenient School Bus Booking and Seamless Mobile Recharge</p>
          <p class="fw-lighter text-break text-start fs-6">Welcome to the official wallet platform for Al-Qalam University, Katsina! Designed to enhance your campus life, our website 
             offers a range of services to make your daily activities more convenient and efficient. Whether you're a student, faculty member, or part of our University
             environment, our platform got you covered.
          </p>
       </div>
       <div class="col-lg-5 col-md-6 p-5 text-center">
          <img src="/static/hero.png" alt="bus picture" class="img-fluid" style="max-width: 100%; height: auto;">
       </div>
    </div>
 </div>

 <div class="container-fluid bd-highlight align-items-center">
   <div class="row flex-column flex-lg-row justify-content-around align-items-center">
      <div class="col-lg-5 p-5 mb-4 mb-lg-0 text-center text-lg-start shadow p-3 mb-5 bg-body rounded-2">
         <p class="fs-3 text-center">Say Goodbye to the hassle of recharging your mobile phone</p>
         <p class="fw-lighter text-break text-start fs-6">With just a few clicks you can top up your mobile anytime, anywhere.
            Stay connected and focus on what truly matters - your education and campus experience.
         </p>
      </div>
      <div class="col-lg-5 col-md-6 p-5 mb-4 mb-lg-0 text-center shadow p-3 mb-5 bg-body rounded-2">
         <p class="fs-3 text-center">Navigating between your house and University has never been easier</p>
         <p class="fw-lighter text-break text-start fs-6">Our school bus booking service allow you to book a seat with ease. Whether you're heading to campus or
            returning home, we've got you covered
         </p>
      </div>
   </div>
</div>

 
 
{% endblock %}