{% extends "layout.html" %}

{% block main %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h2 class="mb-3">Ticket Counter</h2>
        <!-- Cart Item Cards -->
        {% for cart in userCart %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{cart.rideName}} {{cart.rideNumber}}</h5>
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <label><span class="fw-bolder">From</span></label>
                        <p class="card-text">{{cart.from}}</p>
                        <label><span class="fw-bolder">To</span></label>
                        <p class="card-text">{{cart.to}}</p>
                    </div>
                    <div class="col-md-4 mt-3">
                        <label><span class="fw-bolder">Seat Qty</span></label>
                        <p class="card-text">{{cart.seatQty}}</p>
                        <p class="card-text" id="ticketPrice"><span class="fw-bolder">Tfare:</span> {{cart.tfare | naira}}</p>
                        <p class="card-text" id="ticketPrice"><span class="fw-bolder">Total:</span> {{cart.totalFare | naira}}</p>
                    </div>
                    <div class="col-md-4 mt-3">
                        <form action="/cancel-ticket" method="post">
                            <input type="hidden" name="id" value="{{ cart.id }}">
                            <button class="btn btn-danger btn-sm btn-block" type="submit">Cancel Ticket</button>
                        </form>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center flex-wrap mt-2">
                    <p class="card-text mx-2" id="ticketPrice"><span class="fw-bolder">Departure Date:</span> {{cart.date}}</p>
                    <p class="card-text mx-2" id="ticketPrice"><span class="fw-bolder">Departure Time:</span> {{cart.time}}</p>
                </div>
            </div>
        </div>

        <div class="mt-4">
    <form action="/pay-ticket" method="post">
            <h4>Summary</h4>
            <p>Subtotal: {{subtotal | naira}}</p>
            <p>Charges: {{charges | naira}}</p>
            <h5>Total: {{ total | naira }}</h5>
            <input type="hidden" name="id" value="{{ cart.id }}">
        </div>
        <!--Modal for pin-->
        <div class="modal fade" id="pinModal" tabindex="-1" aria-labelledby="pinModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter your Transaction Pin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <div class="form-check">
                        <label for="email" class="form-label">Enter your 4-digit PIN</label>
                        <input autocomplete="off" placeholder="0000" type="text" id="pin" class="form-control text-center" name="pin" maxlength="4">
                    </div>
                    <button type="submit" class="btn btn-primary text-white p-2 mt-3">Pay</button>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                </div>
            </div>
            </div>
        </div>
    </form>
    <button class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#pinModal">Next</button>
        {% endfor %}
        
        {% if userCart is not defined or userCart|length == 0 %}
        <figure class="figure p-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-archive" viewBox="0 0 16 16">
              <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5zm13-3H1v2h14zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
            </svg>
            <figcaption class="figure-caption fw-bold">No Ticket in your cart</figcaption>
        </figure>
        {% endif %}

        <!-- Summary Section -->
    </div>
</div>
{% endblock %}
